@model Parking.Models.OutModel

<div class="wrapper">
  <div class="page-header section-dark out-wallpaper">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">Hinausfahren</h1>
        </div>
        <h2 class="presentation-subtitle text-center">Bitte geben Sie Ihr Kennzeichen ein.</h2>
      </div>
    </div>
    @using ( @Html.BeginForm( "OutSubmit", "Home", FormMethod.Post, new { @class = "entry-form" } ) )
    {
    @Html.TextBoxFor( m => m.LicensePlate, new { @class = "btn btn-success btn-round uppercase", @autofocus = "true" } )
    <input type="submit" class="btn btn-danger entry-submit" value="Abschicken" />
    }
  </div>
</div>